In [19]:
import pandas as pd

In [68]:
d1 = pd.read_stata('Biomarker.dta')

In [69]:
d1.shape

(13169, 239)

In [70]:
d1.head()

,ID,householdID,communityID,pa001,pa002,qa001s1,qa001s2,qa001s3,qa001s4,qa001s5,...,qm003s2,qm003s3,qm003s4,qm003s5,qm003s6,qm003s97,qm003_1,qm004,qm005,versionID
0,010104101001,0101041010,0101041,5 No,1 Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,1 R was fully compliant,5 No,20151118
1,010104101002,0101041010,0101041,5 No,1 Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,1 R was fully compliant,1 Yes,20151118
2,010104102002,0101041020,0101041,5 No,1 Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,1 R was fully compliant,5 No,20151118
3,010104103001,0101041030,0101041,5 No,1 Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,1 R was fully compliant,1 Yes,20151118
4,010104103002,0101041030,0101041,5 No,1 Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,1 R was fully compliant,5 No,20151118

In [71]:
239   -4

235